.principal{
    display: flex;
    max-width: 90%;
    height: 100px;
    margin: 20px auto;
    justify-content: space-between;
    background-color:#005ae0 ;
    align-items: center;
    button{
        margin-left: 10px;
        margin-right: 10px;
        border: unset;
        font-size: 23px;
        text-transform: uppercase;
        border-radius: 10px;
    }
    .mostara{
        background-color: #00910c;
        color: #ffffff;
    }
    .Actualixar{
        background-color: #a59a00;
        color: #ffffff;
    }
    .eliminar{
        background-color: #a51300;
        color: #ffffff;
    }

    
}