
<div class="principal">
    <button class="mostara" (click)="usuarios()"> mostrar usuarios</button>
    <button class="mostara"  (click)="usuarioget()"> mostrar usuario </button>
    <button class="mostara"  (click)="Crear()"> agragar usuario</button>
    <button class="Actualixar"  (click)="actualizar()"> Actualizar usuario </button>
    <button class="eliminar"  (click)="eliminar()">Eliminar usuario</button>
</div>

<router-outlet></router-outlet>
